
.loginBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 420px;
  box-sizing: border-box;;
  background: rgba(0,0,0,.5);
}

.user {
  width:100px
}

.navbar {
  margin-bottom: 0;
  margin-radius: 0;
  background: transparent;
  /* background-color: #1a293c; */
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar-brand {
  float: left;
  /* height: 100%; */
  padding: 2px 8px 3px;
}

.navbar-brand img {
  height:200%;
  margin-top: -30px;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  color: #FFF;
  background: transparent;
  /* background-color: #1a293c; */
}


.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.btn {
  font-size: 18px;
  color: #FFF;
  /* padding: 12px 18px; */
  background: #f4b4c0;
  border-radius: 22.5px;
}

.nav .btn {
  padding: 12px 18px;
}

.match-button {
  margin-left: -10px;
  font-size: 14px;
  margin-bottom: 4px;
}

.container {
  margin: 4% auto;
}

.profile_picture {

}


div.user-menu-container {
  z-index: 10;
  background-color: #fff;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 1px;
}

div.user-menu-container h4 {
    font-weight: 500;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:100%;
   min-height:200px;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

/* -- The main tab & content styling of the vertical buttons info-- */

div.user-menu-btns div.btn-group-horizontal>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #46D8D2;
}


div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}

ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

.user-pad {
    padding: 20px 25px;
    text-align: center;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 400px;
}

.user-image {
  max-height:600px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}


/* base style */

.bluebg {
    background-color: #1a293c;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

#icon{
  max-width: 200px;
  margin: 1% auto;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }

  #icon {
    max-width: 140px;
  }
  h4 {
    font-size: .9em;
  }
}
