<!doctype html>
  <html>
  <head>
      <title>CoffeeBuddy</title>
      <!-- <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
      <script src="https://code.jquery.com/jquery.js"></script>
  </head>
  <body>
    <a href='/'>Go back to homepage</a><br>
      {% for message in get_flashed_messages() %}
          {{ message }}
      {% endfor %}
    <br>
    <hr>
      {% block content %} 

          put your content here 

      {% endblock %}
  </body>
</html>
