<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h1>Some coffee Places near you</h1>
    <div id="map"></div>
    <script>
      function initMap() {
        var sanfrancisco = {lat: 37.7749, lng: -122.4194};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: sanfrancisco
        });
        var marker = new google.maps.Marker({
          position: sanfrancisco,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpITs2tjdaTkZA1eg4Lbwku535hegHS-o&callback=initMap">
    </script>
  </body>
</html>