{% extends 'base.html' %}
    {% block content %}
    <!-- user_info1 = [3, u'ChristopherGriffin@fastmail.com', u'CioeGfn', u'1992-07-02', u'27064', u'070-851-6582x5353', u'Christopher', u'Griffin', u'/static/user_profile_pictures/pexels-photo-720606.jpeg']
    user_info2 = [339, u'AngelaRamirez@gmail.com', u'AeRiz', u'1998-12-05', u'30586', u'309-293-8397', u'Angela', u'Ramirez', u'/static/user_profile_pictures/pexels-photo-237593.jpeg']
    match_info  =[u'You both like to listen to Jazz music.', 'You both love to eat Meat.'] -->

    <h1>Match and compatabilty information about you and {{username2}}</h1>
    {% endblock %}
