{% extends 'base.html' %}
    {% block content %}
        <h1>CoffeeBuddy new user registeration part 2</h1>
            <form action="register" method="POST">
                <p>Preferred Book genres</p>
                    <input type = "text", name = "fname">
                <p>Last name</p>
                    <input type = "text", name = "lname">
                <p>E-mail</p>
                    <input type = "email", name = "email">
                <p>User name</p>
                    <input type = "text", name = "user_name">
                <p>Password</p>
                    <input type = "password", name = "password">
                <p>Birth date</p>
                    <input type = "text", name = "date_of_birth">
                <p>Zipcode</p>
                    <input type = "text", name = "zipcode">
                <p>Phone Number</p>
                    <input type = "text", name = "phone">  
                <p>One word to describe yourself</p>
                    <input type="text" name="one_word"><br>
                    <input type = "submit" value="submit">
            </form>
    {% endblock %}