{% extends 'base.html' %}
    {% block content %}
        <h1>CoffeeBuddy new user registeration part 1</h1>
            <form action="register" method="POST">
                <p>First name</p>
                    <input type = "text", name = "fname">
                <p>Last name</p>
                    <input type = "text", name = "lname">
                <p>E-mail</p>
                    <input type = "email", name = "email">
                <p>User name</p>
                    <input type = "text", name = "user_name">
                <p>Password</p>
                    <input type = "password", name = "password">
                <p>Birth date</p>
                    <input type = "text", name = "date_of_birth">
                <p>Zipcode</p>
                    <input type = "text", name = "zipcode">
                <p>Phone Number</p>
                    <input type = "text", name = "phone">  
                <p>One word to describe yourself</p>
                    <input type="text" name="one_word"><br>
        <h1>CoffeeBuddy new user registeration part 2</h1>
                {% for sub_interest in all_interests %}
                    <h2>{{ sub_interest[0] }}</h2>
                    {% for interest in sub_interest[1] %}
                        <input type="radio" name="{{sub_interest[0]}}" id="{{interest[1]}}" value="{{interest[0]}}">
                        <lable for="{{interest[1]}}">{{ interest[1] }}
                    {% endfor %}
                {% endfor %}
                <input type = "submit" value="submit">
            </form>
    {% endblock %}