{% extends 'base.html' %}
    {% block content %}
    <h1>Trip Form</h1>
        <form action='send_message' method='POST'>
            <p> What would you like message {{matches_user_name}} </p>
                    <input type="text" id='message' name='triptime'>
            <p>Please enter your phone</p>
                <input type='text', name='phone'><br>
                <input type='submit' value='submit'>
            </form>
            <p> reveal phone number </p>
            <p> reveal email </p>
    {% endblock %}
