{% extends 'base.html' %}

    {% block content %}
    <div id="show_matches_welcome">
      <h1> Welcome {{ user_name[0] + user_name[1] }}</h1>
    </div>
        <div id="potential_matches">
          <p> Here is a list of your potential Matches</p>
        </div>
              {% for match in match_info %}

                    <p> {{ match[0] }} </p>
                    <p> percent match = {{ match[1]}} </p>
                    <button type="button" name>Match me!</button>

                {% endfor %}

    {% endblock %}
