{% extends 'base.html' %}

    {% block content %}
    <div id="successful_match"></div>
    <div class="welcome_message" id="show_matches_welcome" style="text-align:center">
      <h1> Welcome {{ user_name[0]+ " " + user_name[1] }}</h1>
    </div>
        <div class="matches" id="potential_matches" style="text-align:center">
          <p> potential Matches</p>
        </div>
        <div class="col-xs-12">
          <div class="row">
              {% for match in match_info %}
                    <div class="col-xs-6 col-sm-3">
                      <div class="panel panel-default" style="height: 500px;">
                        <div class="panel-heading">
                          <h1 class="panel-title" style="text-align: center;"> {{ match[0] }} </h1>
                        </div>
                        <div class="panel-body">
                          <div class="profile_picture">
                            <img src="{{match[3][-1]}}" class="img-responsive img-rounded" style="height: 325px;">
                          </div>
                          <div style="text-align:center">
                          <p> percent match = {{ match[1]}} </p>
                        </div>
                        <div class="col-xs-6">
                          <form action="/user_profile/{{ match[2]}}" method="POST">
                            <button class="btn btn-default match-button" name="match_profile" type="submit" value="{{match[2]}}">
                              View Profile
                            </button>
                          </form>
                        </div>
                        <div class="col-xs-6">
                          <form id="match_confirm" action="/show_matches" method="POST">
                            <button class="btn btn-default match-button" name="user_match" type="submit" value="{{match[2]}}">
                              Confirm Match
                            </button>
                          </form>
                        </div>
                        <div class="col-xs-6">
                          <form action="/show_match_details" method="POST">
                            <button class="btn btn-default match-button" name="match_details" type="submit" value="{{ match[2] }}" style="text-align: center">
                              Match details
                            </button>
                          </form>
                        </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
          </div> <!--end row -->
        </div> <!-- end col -->
          <script>
          $('#match_confirm').one('submit', function() {
            $(this).find('input[name="user_match"]').attr('disabled','disabled');
            });
          </script>
    {% endblock %}
