{% extends 'base.html' %}

    {% block content %}
    <div id="successful_match"></div>


    <div class="welcome_message" id="show_matches_welcome">
      <h1> Welcome {{ user_name[0]+ " " + user_name[1] }}</h1>
    </div>
        <div class="matches" id="potential_matches">
          <p> Here is a list of your potential Matches</p>
        </div>
          <div class="row">
              {% for match in match_info %}
                    <div class="col-xs-6 col-sm-3">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h1 class="panel-title"> {{ match[0] }} </h1>
                        </div>
                        <div class="panel-body">
                          <div class="profile_picture">
                            <img src="{{match[3][-1]}}" class="img-responsive img-rounded">
                          </div>
                          <p> percent match = {{ match[1]}} </p>
                          <form action="/user_profile/{{ match[2]}}" method="POST">
                            <button class="show_profile_button" name="match_profile" type="submit" value="{{match[2]}}">
                              View Profile
                            </button>
                          <form action="/show_matches" method="POST">
                            <button class="match_button" name="user_match" type="submit" value="{{match[2]}}">
                              Confirm Match
                            </button>
                          </form>
                          <form action="show_match_details" method="POST">
                            <button class="view_details_button" name="match_details" type="submit" value="{{ match[2] }}">
                              Match details
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                {% endfor %}
          </div>
        <!-- <script src="/static/show_matches.js"></script> -->

    {% endblock %}
