{% extends 'base.html' %}

    {% block content %}

        <h1> User Profile</h1>

            <div id="profile pic" style="height:50px;" class="span12">

                <img src='{{user_info[-1]}}' style="width:400px;height:500px;">

            </div>
            <div id="user_info">

              {% for info in user_info[1:-1] %}
                <p> {{info}} </p>
              {% endfor %}

            </div>
            <div>
              {% for interest in user_interest_info %}
              <p> {{interest}} </p>
              {% endfor %}
            </div>
            <button type="button" class="btn btn-default" id="trip_plan">
              <li><a href="/plan_trip">Plan a trip</a></li>
            </button>
            <script>
              $("#login").hide();
              $("#logout").show();
              $("#register").hide();
            </script>
    {% endblock %}
