{% extends 'base.html' %}

    {% block content %}
    <style>
    .btn-group {
        border-radius: 4px 4px 4px 4px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .user-pad-info{
      padding: 20px 25px;
      text-align: center;
      margin-top: 150px;
    }
    </style>
        <div class="container">
          <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
              <div class="row bluebg white">
                <div class="col-md-6 no-pad">
                  <div class="user-pad-info">
                    <h3>Welcome {{user_info[6]}}</h3>
                      <h4 class="white"><i class="fa fa-check-circle-o"></i>Coffee-id : {{user_info[2]}}</h4>
                      <h4 class="white"><i class="fa fa-twitter"></i>Current pincode : {{user_info[4]}}</h4>
                      <h4 class="white"><i class="fa fa-twitter"></i>City : San Jose</h4>
                          <button type="button" class="btn btn-labeled btn-info">
                            <a href="/plan_trip">
                              Plan a trip</a></button>
                    </div><!-- end user-pad -->
                </div><!-- end no-pad -->
                <div class="col-md-6 no-pad">
                  <div class="user-image">
                      <img src="{{user_info[-1]}}" class="img-responsive thumbnail">
                  </div><!-- end image-div -->
                </div><!-- end col -->
              </div><!-- end row -->
              <div class="row overview">
                <div class="col-md-4 user-pad text-center">
                    <h3>TRIP COUNT</h3>
                    <!-- <h4>{{all_trips[0]}}</h4> -->
                    <h4>78</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>SUCCESSFUL MATCHES</h3>
                    <!-- <h4>{{all_trips[1]}}</h4> -->
                    <h4>56</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>COFFEE BUDDIES</h3>
                    <!-- <h4>{{all_trips[1]}}</h4> -->
                    <h4>40</h4>
                </div>
            </div><!-- end row -->
        </div><!-- end user_details div -->
        <div class="col-md- user-menu-btns">
            <div class="btn-group-horizontal square" id="responsive">
                <a href="#" class="btn btn-block btn-default active">
                  <i class="fa fa-bell-o fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-envelope-o fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-laptop fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-cloud-upload fa-3x"></i>
                </a>
            </div><!-- end btn group -->
        </div><!-- end col user_menu_buttons -->
        <div class="col-md-12 user-menu user-pad">
            <div class="user-menu-content active">
                <h3>
                    Recent matches
                </h3>
                <ul class="user-menu-list">
                    {% if all_matches == [] %}
                      <li>
                        <h4><i class="fa fa-user coral"></i>You Do not have any succesful matches yet</h4>
                      </li>
                    {% endif %}
                    {% if all_matches %}
                      {% for match in all_matches %}
                        <li>
                          <h4><i class="fa fa-user coral"></i>{{match}}</h4>
                        </li>
                      {% endfor %}
                    {% endif %}
                </ul>
            </div><!-- end user_menu_content-->
            <div class="user-menu-content">
                <ul class="user-menu-list">
                  <h3>
                      Information
                  </h3>
                    <li>
                        <h4><i class="fa fa-user coral"></i>Email: {{user_info[1]}}</h4>
                        <h4><i class="fa fa-user coral"></i>Birthday: {{user_info[3]}}</h4>
                        <h4><i class="fa fa-user coral"></i>Zipcode: {{user_info[4]}}</h4>
                    </li>
                </ul>
            </div><!-- end user_menu_content-->
            <div class="user-menu-content">
                <ul class="user-menu-list">
                  <h3>Welcome {{user_info[6]}}</h3>
                  {% for interest in user_interest_info %}
                    <li>
                        <h4><i class="fa fa-user coral"></i>{{interest}}</h4>
                    </li>
                  {% endfor %}
                </ul>
            </div><!-- end user_menu_content-->
        </div><!-- end col user_menu_pad -->
      </div><!-- end user_menu_container_square-->
    </div><!-- end amin container-->
            <script src="static/user_profile.js">
            </script>
            <!-- this script is obtained from https://bootsnipp.com/snippets/featured/flat-user-profile-interface-ui#comments -->
    {% endblock %}
